.table-header-section{
    padding: 5px;
    border-radius: 20px 20px 0 0;
    color: #fff;
}
td{
    background-color: #fff;
    width: 60px;
}
.table td, .table th{
    padding: 0;
}
.form-control:focus {
    box-shadow:none;
    border: none;
    outline:none;
}
.form-control{
    border-radius:0;
}
.item-radar{
    background-color: hsl(177.27deg 40.74% 89.41%);
}
.table-content{
    // margin-left: -20px;
    width: 105%;
    background-color: hsl(197.87deg 67.14% 27.45%);
    height: 117px;
}
.breadcrubs{
    margin-left: 35px;
    display: flex;
    justify-content: space-between;
    mat-icon{
        font-size: 12px;
    }
}
.icons-section{
    mat-icon{
        font-size: 12px;
        margin-top: 10px;
    }
}
.types{
    display: flex;
    justify-content: left;
    margin-left: 30px;
    span{
      background-color: #d4e6eb;
      color: #000;
      margin: 0 5px;
      padding: 0 5px;
      border-radius: 5px 5px 0 0;
      font-size: 12px;
    }
  }
  input{
    text-align: center;
  }
  
  .progress-container {
    width: 85%;
    height: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  
  .progress-bar {
    height: 100%;
    background-color: rgb(133 245 175);
    width: 100%;
    transform-origin: left;
  }
  
  .animate {
    animation: countdown 10s linear infinite;
  }
  
  @keyframes countdown {
    0% {
      transform: scaleX(1);
    }
    100% {
      transform: scaleX(0);
    }
  }
  
  .timer {
    font-size: 18px;
    text-align: center;
    width: 150px;
    .count-timer{
        font-size: 12px;
    }
  }
  .custom-th{
    background-color: #fff;
    border: none;
    .top-th{
        background-color: #b6bbbc;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    
    }
}