  
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 16%;
    background-color: #ced3d4;
    z-index: 100;
    .on-off-section{
      font-size: 14px;
      font-weight: 500;
      background-color: #3a7589;
      .date-time{
        color: rgb(157 253 118);
        mat-icon{
          font-size: 12px;
        }
      }
    }
    .on-off-text{
      color: rgb(255 210 115);
    }
  }
  
  .sidebar.sidebar-close {
    width: 60px;
  }
  
  .sidebar .side-details {
    width: 100%;
    padding: 10px;
    color: #3a7589;
    align-items: center;
    background-color: hsl(200.53deg 31.15% 76.08%);
  }
  

  
  
  .sidebar .nav-links {
    height: 100%;
    // width: 360px;
    padding-bottom: 150px;
    overflow: auto;
    background-color: #d4e6eb;
  }
  
  .sidebar .nav-links::-webkit-scrollbar {
    display: none;
  }
  
  .sidebar .nav-links li {
    list-style: none;
  }
  
  .sidebar .nav-links > li {
    position: relative;
    width: fit-content;
    width: 100%;
    background-color: hsl(193.04deg 36.51% 87.65%);
    color: #000;
    border-bottom: 1px solid #fff

  }
  

  

  
  /* Dropdown Title */
  .sidebar .nav-links .dropdown-title {
    width: 260px;
    overflow: hidden;
    transition: all 0.52s ease;
    /* */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  


  
  .sidebar .nav-links li i {
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #0696fe;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding-left: 10px;
  }
  
  .sidebar .nav-links li:hover i, 
  .sidebar .nav-links li.active i {
    color: white;
  }
  
  .sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
  }
  
  /* a Tag */
  .sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 100%;
  }
  
  /* Link Name */
  .sidebar .nav-links li a .link_name {
    font-size: 12px;
    color: #000;
    transition: all 0.4s ease;
    cursor: pointer;
  }
  
  .sidebar .nav-links li:hover a .link_name, 
  .sidebar .nav-links li.active a .link_name {
    color: #000;
    font-weight: 500;
  }
  
  /* Sub Menu */
  .sidebar .nav-links li .sub-menu {
    display: none;
    transition: all 0.4s ease;
  }
  
  .sidebar .nav-links li.showMenu .sub-menu {
    display: block;
  }
  
  .sidebar .nav-links li .sub-menu a {
    color: #0696fe;
    font-size: 12px;
    padding: 7px 0;
    white-space: nowrap;
    transition: all 0.3s ease;
  }
  
  .sidebar .nav-links li .sub-menu li {
    // padding-left: 10px;
  }
  
  // .sidebar .nav-links li .sub-menu li:hover, 
  // .sidebar .nav-links li .sub-menu li.active {
  //     background-image: linear-gradient(to right, #0696fe, #ff5722);
  // }
  
  .sidebar .nav-links li .sub-menu li:hover a, 
  .sidebar .nav-links li .sub-menu li.active a {
    color: #000;
  }
  
  .sidebar.sidebar-close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 0;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
    overflow: hidden;
  }
  
  .sidebar.sidebar-close .nav-links li .sub-menu li {
    padding: 6px 15px;
    width: 200px;
  }
  
  .sidebar.sidebar-close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
  }
  
  .sidebar .nav-links li .sub-menu .link_name {
    display: none;
  }
  
  .sidebar.sidebar-close .nav-links li .sub-menu .link_name {
    font-size: 14px;
    font-weight: 600;
    /* opacity: 1; */
    display: block;
  }
  
  /* li:first-child contain .link_name */
  .sidebar.sidebar-close .nav-links li .sub-menu li:first-child {
    // background: white;
    pointer-events: none;
  }
  
  .sidebar.sidebar-close .nav-links li .sub-menu li:first-child:hover .link_name, 
  .sidebar.sidebar-close .nav-links li .sub-menu li:first-child.active .link_name {
    color: #0696fe;
  }
  
  // .sidebar.sidebar-close .nav-links li .sub-menu li:first-child {
  //     display: none;
  // }
  
  .sidebar .nav-links li .sub-menu.blank {
    pointer-events: auto;
    /* padding: 3px 20px 6px 14px; */
    opacity: 0;
    pointer-events: none;
  }
  
  .sidebar .nav-links li:hover .sub-menu.blank, 
  .sidebar .nav-links li.active .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .sidebar.sidebar-close ~ .home-section {
    left: 60px;
    width: calc(100% - 60px);
  }
  
  @media (max-width: 420px) {
    .sidebar.sidebar-close .nav-links li .sub-menu {
        display: none;
    }
  }
  ::ng-deep .mat-form-field-infix {
    display: flex !important;
    padding: 0 !important;
  }
  ::ng-deep .mat-form-field-subscript-wrapper {
    display: none;
  }
  ::ng-deep .mat-form-field-wrapper{
    padding: 0;
  }
  .types{
    display: flex;
    justify-content: center;

    span{
      background-color: #d4e6eb;
      color: #000;
      margin: 0 5px;
      padding: 0 5px;
      border-radius: 0 0 5px 5px;
      font-size: 12px;
      margin-top: -3px;
    }
  }
  ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgb(255 210 115);
}
::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #175975;
}
::ng-deep .mat-button-toggle-standalone.mat-button-toggle-appearance-standard, .mat-button-toggle-group-appearance-standard{
  width: 100%;
  background: #175975;
  padding: 5px;
  border-radius: 8px;
}
::ng-deep .mat-button-toggle{
  width: 50%;
  height: 25px;
  background-color: transparent;
  color: #fff;
}
::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 25px;
  font-size: 12px;
}
::ng-deep .mat-button-toggle-checked{
  background-color: rgb(99 195 163);

}