<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 px-0">
            <div class="sidebar">
              <div class="on-off-section pb-4 pt-3">
                <p class="ml-4"><span class="text-white">BETTING </span> <span class="on-off-text">{{isOn ? 'ON' :'OFF'}}</span> <span>
                  <mat-slide-toggle class="ml-3" (click)="isBettingOn()">
                  </mat-slide-toggle>
                </span>
              </p>
              <p class="date-time ml-4">
                Feed: {{today | date:'dd-MM-yyy HH:mm'}}<mat-icon>check_circle</mat-icon>
              </p>
              </div>
              <div class="date-range px-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Enter a date range</mat-label>
                  <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Start date">
                    <input matEndDate placeholder="End date">
                  </mat-date-range-input>
                  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
              </div>
              <div class="types mb-4">
                <span>Neutral</span>
                <span>Time Change</span>
                <span>Special</span>
              </div>
              <div>
               
              </div>
              <div class="p-1">
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                  <mat-button-toggle checked value="team">Team</mat-button-toggle>
                  <mat-button-toggle value="book">Book</mat-button-toggle>
                </mat-button-toggle-group>
              </div>
                <div class="side-details d-flex justify-content-between">
                  <div class="d-flex">
                    <span><mat-icon class="mt-1">cloud_circle</mat-icon></span><h2 class="mb-0">Soccer</h2>
                  </div>
                  <div>
                    <mat-icon>assessment</mat-icon>
                  </div>
                </div>
                <ul class="nav-links p-0" id="nav-links">
                  <li *ngFor="let item of menuSidebar" #itemEl routerLinkActive="active">
                    <div *ngIf="item.sub_menu.length == 0" class="dropdown-title">
                      <a [routerLink]="[item.link]">
                        <i [class]="item.icon"></i>
                        <span class="link_name">{{item.link_name}}</span>
                      </a>
                    </div>
                    <div *ngIf="item.sub_menu.length > 0" class="dropdown-title" (click)="showSubmenu(itemEl)">
                      <a>
                        <i [class]="item.icon"></i>
                        <span class="link_name">{{item.link_name}}</span>
                      </a>
                   
                    </div>
                    <ul class="sub-menu" [class.blank]="item.sub_menu.length == 0">
                      <li><a class="link_name">{{item.link_name}}</a></li>
                      <li *ngFor="let item_sub of item.sub_menu" routerLinkActive="active">
                        <a [routerLink]="[item_sub.link]" (click)="fetchMatchDetail(item_sub)">{{item_sub.link_name}}</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
        </div>
        <div class="col-md-10 px-0">
            <app-static-table [selectedMatch]="matchDetails"></app-static-table>
        </div>
    </div>
</div>