<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="sidebar">
                <div class="side-details">
                  <h5>Soccer</h5>
                </div>
                <ul class="nav-links p-0 mt-5" id="nav-links">
                  <li *ngFor="let item of menuSidebar" #itemEl routerLinkActive="active">
                    <div *ngIf="item.sub_menu.length == 0" class="dropdown-title">
                      <a [routerLink]="[item.link]">
                        <i [class]="item.icon"></i>
                        <span class="link_name">{{item.link_name}}</span>
                      </a>
                    </div>
                    <div *ngIf="item.sub_menu.length > 0" class="dropdown-title" (click)="showSubmenu(itemEl)">
                      <a>
                        <i [class]="item.icon"></i>
                        <span class="link_name">{{item.link_name}}</span>
                      </a>
                   
                    </div>
                    <ul class="sub-menu" [class.blank]="item.sub_menu.length == 0">
                      <li><a class="link_name">{{item.link_name}}</a></li>
                      <li *ngFor="let item_sub of item.sub_menu" routerLinkActive="active">
                        <a [routerLink]="[item_sub.link]" (click)="fetchMatchDetail(item_sub)">{{item_sub.link_name}}</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
        </div>
        <div class="col-md-9">
            <app-static-table [selectedMatch]="matchDetails"></app-static-table>
        </div>
    </div>
</div>